/* #335c67 - dark blue
#fff3b0 - off-white
#e09f3e - gold
#9e2a2b - red
#540b0e - burgundy */

/* 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 */

body {
    background-image: url("https://images.unsplash.com/photo-1568213816046-0ee1c42bd559?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: auto cover;
}

.container-fluid m-0 p-0 position-relative {

    background-color: #540b0e;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e09f3e;
    text-align: center;
}

#pairingSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    min-height: 40vh;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
  
}



.modal-body {
    background-color: #335c67;
}

.modal-header {
    background-color: #335c67;
}

.modal-footer {
    background-color: #335c67;
}

* {
    outline: none;
  }
  
  
  .tb {
    display: table;
    width: 100%;
  }
  
  .td {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  
  input,
  button {
    color: #fff3b0;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
  }
  
  #cover {
    position: absolute;
    top: 37%;
    left: 0;
    right: 0;
    width: 750px;
    padding: 25px;
    margin: -83px auto 0 auto;
    background-color: #e09f3e;
    border-radius: 20px;
    box-shadow: 0 10px 40px #e09f3e, 0 0 0 20px #fff3b0;
    transform: scale(0.6);
  }
  
  
  
  input[type="text"] {
    width: 100%;
    height: 96px;
    font-size: 40px;
    line-height: 1;
  }
  
  input[type="text"]::placeholder {
    color:#335c67;
  }
  
  #s-cover {
    width: 1px;
    padding-left: 35px;
  }
  
  button {
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
  }
  
  #s-circle {
    position: relative;
    top: -8px;
    left: 0;
    width: 50px;
    height: 50px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff3b0;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }
  
  button span {
    position: absolute;
    top: 59px;
    left: 33px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(43deg);
    transition: 0.5s ease all;
  }
  
  button span:before,
  button span:after {
    content: "";
    position:fixed;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff3b0;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
  }
  
  #s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff3b0;
    border-radius: 20px;
  }
  
  #s-cover:hover span {
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
  }
  
  #s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
  }
  
  #s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
  }
  #s-cover:hover button span:before,
  #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff3b0;
  }

  ul{
    text-align: center;
    color:#335c67;
  }
  #pairedWines{
    width: 55%;
    height: 50%;
    background-color:3540b0e ;
    text-align: center;
    align-self: center;
    font-size: 25px;
    

    
    
  }



  
  